Source: gcc-10-pex-snapshot
Section: devel
Priority: optional
Maintainer: Steve McIntyre <steve.mcintyre@pexip.com>
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 9), wget
Vcs-Browser: https://github.com/pexip/os-gcc10-snapshot/
Vcs-Git: https://github.com/pexip/os-gcc10-snapshot.git

Package: gcc-10-pex-snapshot
Architecture: amd64
Depends: ${misc:Depends},
 gcc-multilib,
 lib32stdc++6,
 libc6,
 libgcc1
Description: Trivial packaged version of gcc-10
 Wrap up a simple locally-built version of gcc-10 into a .deb for
 easier management. This is for INTERNAL USE ONLY. Built on buster to
 allow us to run CI with the newer compiler.
