#!/usr/bin/make -f
#export DH_VERBOSE=1

# Definitions
# testing only
# DAV_URL=http://jack.einval.org/share/
DAV_URL=http://ukfs1.rd.pexip.com/dav/
TGZ_NAME=os-gcc-10-pex-snapshot-10.2-binary1.tar.xz
TGZ_SHA256=2748dae50e6c299de7d2273b15ec713015033ef8ddf83ccea0d29db7ea2795dc
P=gcc-10-pex-snapshot

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

$(TGZ_NAME):
	if [ -f ../$(TGZ_NAME) ]; then \
		ln -svfn ../$(TGZ_NAME) . ; \
	else \
		wget -q $(DAV_URL)/$(TGZ_NAME) ; \
	fi

tgz_checksum: $(TGZ_NAME)
	@echo "Validating checksum for the source tarball:"
	@echo "$(TGZ_SHA256)  $(TGZ_NAME)" > SHA256SUMS
	sha256sum -c SHA256SUMS
	@rm -f SHA256SUMS

binary: binary-arch

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installdocs
	dh_installdebconf
	dh_installchangelogs
	dh_compress
	dh_gencontrol
	dh_installdeb
	dh_fixperms
	dh_md5sums
	dh_builddeb

# Nothing here
binary-indep:

install: tgz_checksum

	dh_testdir
	dh_testroot
	dh_prep
	dh_install
	dh_installdirs
	mkdir -p debian/$(P)
	tar -C debian/$(P) -xf $(TGZ_NAME)

clean:
	dh_testdir
	dh_auto_clean
	dh_clean
	rm -rf $(TGZ_NAME) SHA256SUMS $(EXTRACT) $(REF)

.PHONY: binary binary-arch binary-indep build-arch build-indep clean
